<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <title>contact</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
      <img src="https://thumbs.dreamstime.com/b/fitness-club-emblem-logo-design-training-man-woman-silhouettes-dumbbell-vector-illustration-fitness-club-logo-115039443.jpg" alt="logo" height="70px" width="200px">
      
      <ul class="navbar-nav" style="margin-left: 60%;" >
       <li class="nav-item" >
         <a class="nav-link" href="/">HOME</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/contact">Contact</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/services"> Services</a>
       </li>""
   
     </ul>
   </nav>
   <div class="container" style="width:600px">
    <div >
      <h1>For more information, contact us</h1>
      
    </div>
    <form action="/ma-page-de-traitement" method="post">
      <div  class="form-group">
          <label for="name">Name :</label>
          <input type="text" id="name" name="user_name">
      </div>
      <div  class="form-group">
          <label for="mail">e-mail :</label>
          <input type="email" id="mail" name="user_mail">
      </div>
      <div>
          <label for="msg">Message :</label>
          <textarea id="msg" name="user_message" class="form-control" rows="5"></textarea>
      </div>
      <div class="button">
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </div>
  </div>
  </form>
  </body>
</html>
