<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <title>home page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
       <img src="https://thumbs.dreamstime.com/b/fitness-club-emblem-logo-design-training-man-woman-silhouettes-dumbbell-vector-illustration-fitness-club-logo-115039443.jpg" alt="logo" height="70px" width="200px">
       
       <ul class="navbar-nav" style="margin-left: 60%;" >
        <li class="nav-item" >
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services"> Services</a>
        </li>""
    
      </ul>
    </nav>
    <div class="container" style="margin-top:100px ">
      <div class="row">
        
        
   
        <div class="col" style="display: flex; flex-direction:column;align-items: center">
            <div>
          <h1 style="color:red">BIENVENUE À FITNESS GYM</h1>
        
          </div>
          <div  style="padding: 30px;">
        
              Profitez d'un cadre agréable, des espaces aérés et climatisés, des équipements de pointe et des coachs qualifiés pour vous encadrer, vous motiver et vous soutenir. Galaxy Gym est une salle de sport et de fitness qui vous propose des cours variés dans un espace de Fitness destiné aux adultes, ados et enfants. Vous trouverez tous ce qu'il vous faut dans nos espaces de musculation et Cardio Training avec un matériel de qualité.
            </div>


 
      </div>
      <img
      src="https://thumbs.dreamstime.com/b/fitness-club-emblem-logo-design-training-man-woman-silhouettes-dumbbell-vector-illustration-fitness-club-logo-115039443.jpg"
      alt="logo"
      width="400px"
      ,height="200px"
    />
    </div>
  </body>
</html>
