<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <title>our services</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
      <img src="https://thumbs.dreamstime.com/b/fitness-club-emblem-logo-design-training-man-woman-silhouettes-dumbbell-vector-illustration-fitness-club-logo-115039443.jpg" alt="logo" height="70px" width="200px">
      
      <ul class="navbar-nav" style="margin-left: 60%;" >
       <li class="nav-item" >
         <a class="nav-link" href="/">HOME</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/contact">Contact</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/services"> Services</a>
       </li>""
   
     </ul>
   </nav>
   <h1 style=" color:blueviolet;font-weight: 700;
   padding-top: 30px;margin-left: 5%;">Gym:</h1>
    <div class="container" style=" display:grid;width:800px;  grid-template-columns:auto auto auto;">
      <div>
        <h3>Musculation</h3>
        <img src=" https://contents.mediadecathlon.com/p1487877/k$d8a1ee79c8143b98359231f76ccb3db5/800x0/2880pt1920/3840xcr3840/Musculation-et-croissance.jpg" width="150px",height="100px"/>
      </div>
      <div>
        <h3>Zumba </h3>
        <img src=" https://i.ytimg.com/vi/1N-n1KEivbo/sddefault.jpg" width="150px",height="100px"/>
      </div>
      <div>
        <h3>Cardio</h3>
        <img src="https://olimpsport.com/media/mageplaza/blog/post/image//t/r/trening-cardio_2.jpg" width="150px",height="100px"/>

      </div>
      <div>
        <h3>Step</h3>
        <img src="https://www.fitness-rambouillet.com/wp-content/uploads/2013/06/Step-LIA.jpg" width="150px",height="100px"/>

      </div>
      <div>
        <h3>Medical Gym</h3>
        <img src=" https://lh3.googleusercontent.com/proxy/lCJg2uQHG8Ipzkt71Lda0B5zBLH2RFRuvFWT5U4lle82Zh33rHolnZxTOBijWuTRmNWB_zhrKEMj0vLsJvDUWx68s0fbGUGTc54S1r0Bwvz5T6j3RE4Df8B63U8" width="150px",height="100px"/>

      </div>
    </div>
   <h1 style=" color:blueviolet;font-weight: 700;margin-left: 5%;"> kids club:</h1>

    <div class="container"style=" display:grid;width:800px;  grid-template-columns:auto auto auto;
    ">
      <div>
        <h3>Zumba Kids</h3>
        <img src=" https://lh3.googleusercontent.com/proxy/IEReOCjtJYwIbhjmer0T5A9qPqAk8cxTnZDjxu5pKn72L5ZX8bC_eFObN63_V0rlkQJj0CbzwX9JXaivietdrhgDW9Fys4CGpiEZ_Bd7fabtmjM2_aDpc5Sphr-c534tOO37EUj2ox8gTg" width="150px",height="100px"/>

      </div>
      <div>
        <h3>Taekwondo</h3>
        <img src="https://media.gettyimages.com/photos/man-in-kimono-performing-a-flying-kick-against-a-black-background-picture-id1153640341?s=612x612" width="150px",height="100px"/>

      </div>
    </div>
    <h1 style=" color:blueviolet;font-weight: 700;margin-left: 5%;">Bac-sport:</h1>

    <div class="container" style=" display:flex;  grid-template-rows:auto auto ;">
      <div>
  <h3>Prepare for the sports bac with fitness gym</h3>
  <p>Le planning (70 dinars / 8 séances)</p></div>
 <div> <img src=" https://www.tunisienumerique.com/wp-content/uploads/2019/04/bac-sport-1200x705.png" width="150px",height="100px"/>
 </div>
    </div>
  </body>
</html>
